<div id="about">
    <br>
<div class="container" >
    <div class="row">
        <div class="col-md-6">
            <img [src]="img">
        </div>
        
        <div class="col-md-6">
    <strong>About Us</strong>
    <h5>Balcony Breeze is a vibrant company dedicated to transforming outdoor spaces into havens of relaxation and style.<br> Specializing in premium outdoor furniture and decor, we strive to enhance every balcony, terrace, or patio with quality craftsmanship and contemporary designs.<br><br> Our mission is to inspire urban dwellers to embrace outdoor living, offering a curated selection that blends comfort, functionality, and aesthetic appeal. Whether you're seeking a cozy corner for morning coffee or a chic setting for evening gatherings, Balcony Breeze is your partner in creating outdoor spaces that reflect your lifestyle and personality.<br><br>Happy Decor!
    </h5>
    <button routerLink="/products" class="btn btn-success">Let's shop</button> 
    </div></div></div>
</div>
<br>