<br>
<div class="container">
    <br><br>
    <div class="row">
        <div class="col-md-6">
    <h4> Update Products</h4>  
    <form #proddata = "ngForm" (ngSubmit)="updateProduct(proddata)">
        <div class="form-field">
            <label for="id">Product ID</label><br>
            <input type="text" id="id" name="id" required ngModel #id="ngModel" [(ngModel)]="productdata.id" disabled>
            <div *ngIf="id.touched && !id.valid">
                <span *ngIf="id.errors?.['required']">
                    Please enter product id. 
                </span>
            </div>
        </div>
        <div class="form-field">
            <label for="pname">Product Name</label><br>
            <input type="text" id="pname" name="pname" required ngModel #pname="ngModel" [(ngModel)]="productdata.pname">
            <div *ngIf="pname.touched && !pname.valid">
                <span *ngIf="pname.errors?.['required']">
                    Please enter product name.
                </span>
            </div>
        </div>

        <div class="form-field">
            <label for="price">Price</label><br>
            <input type="text" id="price" name="price" required ngModel #price="ngModel" pattern="[0-9]*" [(ngModel)]="productdata.price" >
            <div *ngIf="price.touched && !price.valid">
                <span *ngIf="price.errors?.['required']">
                    Please enter product price.
                </span>
                <span *ngIf="price.errors?.['pattern']">
                    Alphabets not allowed.
                </span>
            </div>
        </div>

        <div class="form-field">
            <label for="mrp">MRP</label><br>
            <input type="text" id="mrp" name="mrp" required ngModel #mrp="ngModel" pattern="[0-9]*" [(ngModel)]="productdata.mrp" >
            <div *ngIf="mrp.touched && !mrp.valid">
                <span *ngIf="mrp.errors?.['required']">
                    Please enter MRP.
                </span>
                <span *ngIf="mrp.errors?.['pattern']">
                    Alphabets not allowed.
                </span>
            </div>
        </div>
        
        <div class="form-field">
            <label for="desc">Product Description</label><br>
            <textarea id="desc" rows="3" cols="20"  name="desc" required ngModel #desc="ngModel" [(ngModel)]="productdata.desc"></textarea>
            <div *ngIf="desc.touched && !desc.valid">
                <span *ngIf="desc.errors?.['required']">
                    Please enter product description.
                </span>
            </div>
        </div>

        <div class="form-field">
            <label for="image">Product Image url</label><br>
            <input type="text" id="img" name="image" required ngModel #image="ngModel" [(ngModel)]="productdata.image">
            <div *ngIf="image.touched && !image.valid">
                <span *ngIf="image.errors?.['required']">
                    Please enter image url.
                </span>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" id="reg_submit" [disabled]="proddata.invalid"><strong>Submit</strong></button>

    </form>
    </div>
    <div class="col-md-6">
        <img [src]="img" height="600" width="750" > 
</div></div></div>
<br>