<div id="about">
    <br>  <br>
<div class="container-fluid" >
    <div class="row">
        <div class="col-md-7">
            <img [src]="img" height="500" width="800">    
        </div>
        
        <div class="col-md-5">
    <strong>Contact Us</strong>
    <h5>Balcony Breeze <br><br>
    <i class="fas fa-phone"> 9999999999</i><br><br>
    <i class="fas fa-envelope"> contactus@balconybreeze.com</i>
</h5>
    <button routerLink="/products" class="btn btn-success">Let's shop</button> 
    </div></div></div>
</div>
<br>